li {
  list-style: none;
}
a {
  text-decoration: none;
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  overflow: scroll;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 600px;
  padding: 40px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
/* ・・・・・・・ここまでモーダル・・・・・・・・ */
header {
  height: 20vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.topName {
  position: absolute;
  top: 7vh;
  left: 20px;
  height: 105px;
  width: 500px;
}
.menus {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  right: 0;
}
.profileLogo,
.workLogo,
.skillLogo,
.contactLogo {
  cursor: pointer;
  margin-left: 2%;
  height: 50px;
  width: 120px;
}
.imageContent {
  background-image: url("images/IMG_3474.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80vh;
  text-align: center;
  position: relative;
  font-size: 50px;
}
.fa-angle-double-down{
  position: absolute;
  bottom: 0;
  color: rgb(112, 112, 112); 
}
/* ・・・・・・ここまでがワンブロック目・・・・・・・・・ */
.menuName {
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
}
.profileContent {
  text-align: center;
  padding: 40px;
}
.profileBox{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}
.textBox {
  width: 300px;
  text-align: left;
  font-size: 15px;
  line-height: 2.4;
  color: rgb(112, 112, 112);
}
.profileImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 200px;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}
/* ・・・・・・ここまでがプロフィール・・・・・・・・・ */
.modalbtn {
  border-bottom: 1px solid;
  color: rgb(112, 112, 112);
}
.modalbtn:hover{
  cursor: pointer;
  color: black;
  border-bottom: 1px solid;
}
.workContent {
  text-align: center;
  padding: 40px;
}
.workBox {
  box-sizing: border-box;
  background-color: white;
  width: 85vw;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  box-shadow: 2px 2px 4px gray;
}
.appBox {
  height: 500px;
  width: 516px;
  margin-left: 20px;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: 2px 2px 4px gray;
}
.appImage {
  height: 294px;
  width: 516px;
}
.appImage:hover {
  opacity: 0.4;
}
.appTextBox{
  color: rgb(112, 112, 112);
  font-size: 18px;
  line-height: 1.5;
}
.appTitle{
  color: rgb(112, 112, 112);
  font-size: 30px;
  font-family: 'Comic Sans MS';
}
.appTitle:hover{
  cursor: pointer;
  opacity: 0.4;
}
/* ・・・・・・ここまでが作品・・・・・・・・・ */
.skillContent {
  text-align: center;
  padding: 40px;
  color: rgb(112, 112, 112);

}
.skillBox {
  background-color: rgb(242, 255, 254);
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 2px 2px 4px gray;
}
.skillTitle {
  font-size: 25px;
}
.skillItem{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
/* ・・・・・・ここまでがスキル・・・・・・・・・ */
.contactContent {
  text-align: center;
  padding: 40px;
  font-size: 20px;
  color: rgb(112, 112, 112);
}
.contactBox {
  margin-top: 30px;
}
.twittericon {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 200px;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
  margin-bottom: 20px;
}
.twitterName {
  color: rgb(112, 112, 112);
}
/* ・・・・・・ここまでがコンタクト・・・・・・・・・ */
.footerBox{
  border-top: 1px solid;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
.footermenu{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footerLogo {
  cursor: pointer;
  margin-left: 2%;
  height: 70px;
  width: 140px;
}
